@charset "UTF-8";

body {
  background: rgb(70, 142, 237);
  font: normal 15pt arial;
}

header {
  text-align: center;
  color: white;
}

section {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.318);
  padding: 15px;
  margin: auto;
}

footer {
  font-style: italic;
  text-align: center;
  color: white;
}

.hello {
  display: block;
}
